body {
    min-height: 200vh;
  }
  
  #scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 6px;
    background: linear-gradient(to right, #39b0ff, yellow);
    z-index: 10000;
  }